#pageContainer {
  margin-top: 40px;
}
.container {
  width: 90%;
  margin: auto;
}

hr {
  color: #89b0ae;
}

body {
  background-color: #ffd6ba;
  overflow-x: hidden;
}

#navbar {
  border-bottom: 2px solid #faf9f9;
  padding-bottom: 4px;
}
